<% include adminPartials/header.ejs%>

<%
console.log("edit page:" + JSON.stringify(event));
%>

<div class="container text-center" style="">
    <h3>Edit Event</h3>
    <br><br>
    <div class="row">
        <div class="col m1">
        </div>
        <div class="col m10">
            <% if(typeof (msg) != "undefined"){ %><p class="red accent-4" style="padding: 10px; color: white; font-weight: 700;"><%=msg%></p> <%}%>
            <form style="border: 2px solid grey; padding:50px;"
                  action="/admin/events/<%=event.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="input-field">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" value="<%=event.name%>" required>
                </div>
                <div class="input-field">
                    <textarea id="short" class="materialize-textarea" name="short" required><%=event.short%></textarea>
                    <label for="short">Short Description</label>
                </div>
                <div class="input-field">
                    <textarea id="description" class="materialize-textarea" name="description" required><%=event.description%></textarea>
                    <label for="description">Description(HTML code)</label>
                </div>
                <div class="input-field">
                    <label class="pull-left" for="venue">Venue</label>
                    <input type="text" class="form-control" id="venue" name="venue" value="<%=event.venue%>" required>
                </div>
                <div class="input-field">
                    <label class="pull-left" for="date">Date</label>
                    <input type="text" class="form-control" id="date" name="date" value="<%=event.date%>" required>
                </div>
                <div class="input-field">
                    <label class="pull-left" for="time">Time Duration</label>
                    <input type="text" class="form-control" id="time" name="time" value="<%=event.time%>" required>
                </div>
                <div class="input-field">
                    <label class="pull-left" for="fbUrl">Facebook URL</label>
                    <input type="text" class="form-control" id="fbUrl" name="fbUrl" value="<%=event.fbUrl%>" required>
                </div>
                <label>Type Of Event</label>

                <div class="input-field">
                    <select name="type" required>
                        <option value="<%=event.type%>" selected><%=event.type%></option>
                        <option value="Programming">Programming</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Non-Tech">Non-Tech</option>
                        <option value="Entrepreneurial">Entrepreneurial</option>
                        <option value="Workshops/Seminars">Workshops/Seminars</option>
                    </select>
                </div>
                <label>Image Upload</label>
                <div class = "file-field input-field">
                    <div class = "btn">
                        <span>Browse</span>
                        <input name="eventsImage" type = "file"/>
                    </div>

                    <div class = "file-path-wrapper">
                        <input class = "file-path validate" type = "text"
                               placeholder = "Upload file" value="<%=event.image%>" required/>
                    </div>
                </div>
                <label for="">Organiser 1</label>
                <div class="row">
                    <div class="col m4">
                        <div class="input-field">
                            <label class="pull-left" for="name1">Name</label>
                            <input type="text" class="form-control" id="name1" name="name1" value="<%=event.organisersName[0]%>" required>
                        </div>
                    </div>
                    <div class="col m4">
                        <div class="input-field">
                            <label class="pull-left" for="email1">Email</label>
                            <input type="text" class="form-control" id="email1" name="email1" value="<%=event.organisersEmail[0]%>" required>
                        </div>
                    </div>
                    <div class="col m4">
                        <div class="input-field">
                            <label class="pull-left" for="mobile1">Mobile</label>
                            <input type="text" class="form-control" id="mobile1" name="mobile1" value="<%=event.organisersMobile[0]%>" required>
                        </div>
                    </div>
                </div>
                <label for="">Organiser 2</label>
                <div class="row">
                    <div class="col m4">
                        <div class="input-field">
                            <label class="pull-left" for="name2">Name</label>
                            <input type="text" class="form-control" id="name2" name="name2" value="<%=event.organisersName[1]%>">
                        </div>
                    </div>
                    <div class="col m4">
                        <div class="input-field">
                            <label class="pull-left" for="email2">Email</label>
                            <input type="text" class="form-control" id="email2" name="email2" value="<%=event.organisersEmail[1]%>">
                        </div>
                    </div>
                    <div class="col m4">
                        <div class="input-field">
                            <label class="pull-left" for="mobile2">Mobile</label>
                            <input type="text" class="form-control" id="mobile2" name="mobile2" value="<%=event.organisersMobile[1]%>">
                        </div>
                    </div>
                </div>
                <label for="">Organiser 3</label>
                <div class="row">
                    <div class="col m4">
                        <div class="input-field">
                            <label class="pull-left" for="name3">Name</label>
                            <input type="text" class="form-control" id="name3" name="name3" value="<%=event.organisersName[2]%>">
                        </div>
                    </div>
                    <div class="col m4">
                        <div class="input-field">
                            <label class="pull-left" for="email3">Email</label>
                            <input type="text" class="form-control" id="email3" name="email3" value="<%=event.organisersEmail[2]%>">
                        </div>
                    </div>
                    <div class="col m4">
                        <div class="input-field">
                            <label class="pull-left" for="mobile3">Mobile</label>
                            <input type="text" class="form-control" id="mobile3" name="mobile3" value="<%=event.organisersMobile[2]%>">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col m1">
        </div>
    </div>
</div>

<% include adminPartials/footer.ejs %>