<% include adminPartials/header.ejs %>

<h3><%=eventName%></h3>

<table class="responsive-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>College</th>
        <th>Degree</th>
        <th>Branch</th>
        <th>Year</th>
        <th>Referrer</th>
    </tr>
    </thead>
    <tbody>
    <%for(i=0;i<participants.length;++i){%>
    <tr>
        <td><%=participants[i].name%></td>
        <td><%=participants[i].email%></td>
        <td><%=participants[i].phone%></td>
        <td><%=participants[i].college%></td>
        <td><%=participants[i].degree%></td>
        <td><%=participants[i].branch%></td>
        <td><%=participants[i].year%></td>
        <td><%=referrers[i]%></td>
    </tr>
    <%}%>
    </tbody>
</table>


<% include adminPartials/footer.ejs %>