<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from protocol.ai/blog/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Aug 2018 19:11:37 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true">

    <link rel="icon" href="fav.png" sizes="16x16">

    <link rel="manifest" href="../manifest.json">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Amaranth|Arima+Madurai|Rambla|Salsa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css">
    <!-- <link rel="stylesheet" href="../css/reset.css"> -->
    <!-- <link href="../css/main.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../css/mobile-menu.css" type="text/css">
    <link rel="stylesheet" href="../css/mywork.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="../css/contact.css"> -->
    <link rel="stylesheet" href="../css/t_contact.css">
    <!-- <link rel="stylesheet" href="../css/about.css"> -->
    <link rel="stylesheet" href="../css/scrollbar.css">
    <link rel="stylesheet" href="../css/sponsors.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/simple-ripple.css">
    <link rel="stylesheet" href="../css/template.css">
    <link rel="stylesheet" href="../css/events.css">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="fav.png">
    <link rel="stylesheet" href="../css/profile3.css">
    <!-- <script type="text/javascript" src="../js/simple-ripple.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/mojs/0.265.6/mo.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/mojs-player/0.43.15/mojs-player.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script> -->

    <script>
        window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments)
        };
        ga.l = +new Date;
        ga('create', 'UA-96910779-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script type="text/javascript" src="../js/jquery.1.8.3.min.js"></script>
    <!--Jquery ka new version he file mein-->
    <script type="text/javascript" src="../js/mobile-menu.js"></script>


    <script async src='../../www.google-analytics.com/analytics.js'></script>

    <script>
        $(function() {
      function maskImgs() {
        //$('.img-wrapper img').imagesLoaded({}, function() {
        $.each($('.img-wrapper img'), function(index, img) {
          var src = $(img).attr('src');
          var parent = $(img).parent();
          parent
            .css('background', 'url(' + src + ') no-repeat center center')
            .css('background-size', 'cover');
          $(img).remove();
        });
        //});
      }
    
      var preview = {
        init: function() {
          preview.setPreviewImg();
          preview.listenInput();
        },
        setPreviewImg: function(fileInput) {
          var path = $(fileInput).val();
          var uploadText = $(fileInput).siblings('.file-upload-text');
    
          if (!path) {
            $(uploadText).val('');
          } else {
            path = path.replace(/^C:\\fakepath\\/, "");
            $(uploadText).val(path);
    
            preview.showPreview(fileInput, path, uploadText);
          }
        },
        showPreview: function(fileInput, path, uploadText) {
          var file = $(fileInput)[0].files;
    
          if (file && file[0]) {
            var reader = new FileReader();
    
            reader.onload = function(e) {
              var previewImg = $(fileInput).parents('.file-upload-wrapper').siblings('.preview');
              var img = $(previewImg).find('img');
    
              if (img.length == 0) {
                $(previewImg).html('<img src="' + e.target.result + '" alt=""/>');
              } else {
                img.attr('src', e.target.result);
              }
    
              uploadText.val(path);
              maskImgs();
            }
    
            reader.onloadstart = function() {
              $(uploadText).val('uploading..');
            }
    
            reader.readAsDataURL(file[0]);
          }
        },
        listenInput: function() {
          $('.file-upload-native').on('change', function() {
            preview.setPreviewImg(this);
          });
        }
      };
      preview.init();
    });</script>

    <title>Infox</title>
</head>

<!-- <link rel="stylesheet" href="css/about.css"> -->
<link rel="stylesheet" href="css/team.css">
<body>
    <% include ../partials/svg-and-style %>

        <div id="test">
            <!--class="nav-wrapper"-->
            <header class="is-large">
                <% include ../partials/new-nav-bar %>
                <!-- Common navbar he ismein -->
            </header>
        </div>

        <!-- <div id="app">
            <div @click="tune">
                <div class="title_section">
                    <h1 class="overlay_title">PROFILE</h1>
                    <div class="small_title">
                        <h1>Keep your info updated</h1>
                    </div>
                </div>
                <section class="media-block simple-ripple" style="position:relative;top:0vh !important;">

                    <h1>Welcome user, <%=user.name%></h1>
                    <h3><%=user%></h3>

                    <img style="height: 200px;" src="<%=user.image%>" alt="">

                    <h3>Stay tuned for more!</h3>
                </section>
            </div>
        </div> -->
        <div class="title-section" style="margin-top: 30px;">
            <h1 class="overlay-section">Profile</h1>
            <h1 class="subtitle-section">Keep your info updated</h1>
        </div>

        <div class="container" style="margin-top: 30px;">
          <!-- <h1 class="page-header">Edit Profile</h1> -->
          <div class="row">
            <!-- left column -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="text-center">
                <style>
                  .preview{
                    background: url("<%=user.image%>");
                    background-size: 100%;
                  }
                  </style>
                  <div class="preview img-wrapper"></div>
                  <div class="file-upload-wrapper">
                      <input type="file" name="file" class="file-upload-native" accept="image/*" />
                      <input type="text" disabled placeholder="upload image" class="file-upload-text" />
                  </div>
              </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
              <!-- <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a> 
                <i class="fa fa-coffee"></i>
                This is an <strong>.alert</strong>. Use this to show important messages to the user.
              </div> -->
              <!-- <h3>Personal info</h3> -->
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-lg-3 control-label">Name:</label>
                  <div class="col-lg-8">
                    <input class="form-control" value="<%=user.name%>" type="text">
                  </div>
                </div>
                <!-- <div class="form-group">
                  <label class="col-lg-3 control-label">Last name:</label>
                  <div class="col-lg-8">
                    <input class="form-control" value="Bishop" type="text">
                  </div>
                </div> -->
                <div class="form-group">
                  <label class="col-lg-3 control-label">Phone Number:</label>
                  <div class="col-lg-8">
                    <input class="form-control" value="" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Email:</label>
                  <div class="col-lg-8">
                    <input class="form-control" value="<%=user.email%>" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">College:</label>
                  <div class="col-lg-8">
                    <div class="ui-select">
                      <select id="user_time_zone" class="form-control">
                        <option value="usict">USICT</option>
                        <option value="usict">USICT</option>
                        <option value="usict">USICT</option>
                        <option value="usict">USICT</option>
                        <option value="usict">USICT</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Degree:</label>
                  <div class="col-lg-8">
                    <div class="ui-select">
                      <select id="user_time_zone" class="form-control">
                        <option value="usict">Btech</option>
                        <option value="usict">MCA</option>
                        <option value="usict">Mtech</option>
                        <option value="usict">MBA</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Branch:</label>
                  <div class="col-lg-8">
                    <div class="ui-select">
                      <select id="user_time_zone" class="form-control">
                        <option value="cse">CSE</option>
                        <option value="it">IT</option>
                        <option value="ece">ECE</option>
                        <option value="usict">others</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Year:</label>
                  <div class="col-lg-8">
                    <div class="ui-select">
                      <select id="user_time_zone" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                    </div>
                  </div>
                </div>
                
                <!-- <div class="form-group">
                  <label class="col-md-3 control-label">Username:</label>
                  <div class="col-md-8">
                    <input class="form-control" value="janeuser" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Password:</label>
                  <div class="col-md-8">
                    <input class="form-control" value="11111122333" type="password">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Confirm password:</label>
                  <div class="col-md-8">
                    <input class="form-control" value="11111122333" type="password">
                  </div>
                </div> -->
                <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-8">
                    <!-- <input class="btn btn-primary" value="Save Changes" type="button"> -->
                    <a class="custom-btn">Save Changes</a>
                    <span></span>
                    <!-- <input class="btn btn-default" value="Cancel" type="reset"> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        

    <% include ../partials/footer %>

    <% include ../partials/hamburger %>

    <script src="../js/common.js"></script>
    <script src="../js/media.js"></script>

</body>
</html>