<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from protocol.ai/blog/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Aug 2018 19:11:37 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true">

    <link rel="icon" href="fav.png" sizes="16x16">

    <link rel="manifest" href="../manifest.json">

    <link href="https://fonts.googleapis.com/css?family=Amaranth|Arima+Madurai|Rambla|Salsa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css">
    <!-- <link rel="stylesheet" href="../css/reset.css"> -->
    <!-- <link href="../css/main.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../css/mobile-menu.css" type="text/css">
    <link rel="stylesheet" href="../css/mywork.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="../css/contact.css"> -->
    <link rel="stylesheet" href="../css/t_contact.css">
    <!-- <link rel="stylesheet" href="../css/about.css"> -->
    <link rel="stylesheet" href="../css/scrollbar.css">
    <link rel="stylesheet" href="../css/sponsors.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/simple-ripple.css">
    <link rel="stylesheet" href="../css/template.css">
    <link rel="stylesheet" href="../css/events.css">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="fav.png">
    <link rel="stylesheet" href="../css/profile2.css">
    <!-- <script type="text/javascript" src="../js/simple-ripple.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/mojs/0.265.6/mo.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/mojs-player/0.43.15/mojs-player.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script> -->

    <script>
        window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments)
        };
        ga.l = +new Date;
        ga('create', 'UA-96910779-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script type="text/javascript" src="../js/jquery.1.8.3.min.js"></script>
    <!--Jquery ka new version he file mein-->
    <script type="text/javascript" src="../js/mobile-menu.js"></script>


    <script async src='../../www.google-analytics.com/analytics.js'></script>

    <script>
        $(function() {
      function maskImgs() {
        //$('.img-wrapper img').imagesLoaded({}, function() {
        $.each($('.img-wrapper img'), function(index, img) {
          var src = $(img).attr('src');
          var parent = $(img).parent();
          parent
            .css('background', 'url(' + src + ') no-repeat center center')
            .css('background-size', 'cover');
          $(img).remove();
        });
        //});
      }
    
      var preview = {
        init: function() {
          preview.setPreviewImg();
          preview.listenInput();
        },
        setPreviewImg: function(fileInput) {
          var path = $(fileInput).val();
          var uploadText = $(fileInput).siblings('.file-upload-text');
    
          if (!path) {
            $(uploadText).val('');
          } else {
            path = path.replace(/^C:\\fakepath\\/, "");
            $(uploadText).val(path);
    
            preview.showPreview(fileInput, path, uploadText);
          }
        },
        showPreview: function(fileInput, path, uploadText) {
          var file = $(fileInput)[0].files;
    
          if (file && file[0]) {
            var reader = new FileReader();
    
            reader.onload = function(e) {
              var previewImg = $(fileInput).parents('.file-upload-wrapper').siblings('.preview');
              var img = $(previewImg).find('img');
    
              if (img.length == 0) {
                $(previewImg).html('<img src="' + e.target.result + '" alt=""/>');
              } else {
                img.attr('src', e.target.result);
              }
    
              uploadText.val(path);
              maskImgs();
            }
    
            reader.onloadstart = function() {
              $(uploadText).val('uploading..');
            }
    
            reader.readAsDataURL(file[0]);
          }
        },
        listenInput: function() {
          $('.file-upload-native').on('change', function() {
            preview.setPreviewImg(this);
          });
        }
      };
      preview.init();
    });</script>

    <title>Infox</title>
</head>

<!-- <link rel="stylesheet" href="css/about.css"> -->
<link rel="stylesheet" href="css/team.css">
<body>
    <% include ../partials/svg-and-style %>

        <div id="test">
            <!--class="nav-wrapper"-->
            <header class="is-large">
                <% include ../partials/new-nav-bar %>
                <!-- Common navbar he ismein -->
            </header>
        </div>

        <!-- <div id="app">
            <div @click="tune">
                <div class="title_section">
                    <h1 class="overlay_title">PROFILE</h1>
                    <div class="small_title">
                        <h1>Keep your info updated</h1>
                    </div>
                </div>
                <section class="media-block simple-ripple" style="position:relative;top:0vh !important;">

                    <h1>Welcome user, <%=user.name%></h1>
                    <h3><%=user%></h3>

                    <img style="height: 200px;" src="<%=user.image%>" alt="">

                    <h3>Stay tuned for more!</h3>
                </section>
            </div>
        </div> -->
        <div class="title-section" style="margin-top: 30px;">
            <h1 class="overlay-section">Profile</h1>
            <h1 class="subtitle-section">Keep your info updated</h1>
        </div>

        <form>
    
            <style>
            .preview{
              background: url("<%=user.image%>");
              background-size: 100%;
            }
            </style>
            <div class="preview img-wrapper"></div>
            <div class="file-upload-wrapper">
                <input type="file" name="file" class="file-upload-native" accept="image/*" />
                <input type="text" disabled placeholder="upload image" class="file-upload-text" />
            </div>
             
      
      
          <!-- <h1>Fancy Text Inputs</h1> -->
          <div class="question">
            <input type="text" value="<%=user.name%>" required/>
            <label>Name</label>
          </div>
          <div class="question">
            <input type="text" required/>
            <label>Phone Number</label>
          </div>
          <div class="question">
            <input type="text" required value="<%=user.email%>"/>
            <label>Email Address</label>
          </div>
          <label for="College" style="color: #ff4a56;">College:</label>
          <div class="styled-select yellow rounded" style="margin-top: 5px; margin-bottom: 10px;">
              <select>
                <option>Here is the first option</option>
                <option>The second option</option>
                <option>The third option</option>
              </select>
            </div>
            <label for="College" style="color: #ff4a56;">Year:</label>
          <div class="styled-select yellow rounded" style="margin-top: 5px; margin-bottom: 10px;">
              <select>
                <option>Here is the first option</option>
                <option>The second option</option>
                <option>The third option</option>
              </select>
            </div>
            <label for="College" style="color: #ff4a56;">Branch:</label>
          <div class="styled-select yellow rounded" style="margin-top: 5px; margin-bottom: 10px;">
              <select>
                <option>Here is the first option</option>
                <option>The second option</option>
                <option>The third option</option>
              </select>
            </div>
            <label for="College" style="color: #ff4a56;">Degree:</label>
          <div class="styled-select yellow rounded" style="margin-top: 5px;">
              <select>
                <option>Here is the first option</option>
                <option>The second option</option>
                <option>The third option</option>
              </select>
            </div>
          
          <button>Edit</button>
        </form>
        

    <% include ../partials/footer %>

    <% include ../partials/hamburger %>

    <script src="../js/common.js"></script>
    <script src="../js/media.js"></script>

</body>
</html>