<% include ../partials/header-links.ejs %>
<% include ../partials/new-nav-bar %>

<% include ../partials/login-modal %>

<style>
    .success{
        width: 100%;
        padding: 10px;
        color: white;
        border: 2px solid green;
        background-color: rgba(0,128,0,0.8);
        margin: 0;
        font-weight: 700 !important;
        font-family: "Julius Sans One", sans-serif;
    }
    /* The snackbar - position it at the bottom and in the middle of the screen */
    #snackbar {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 250px; /* Set a default minimum width */
        margin-left: -125px; /* Divide value of min-width by 2 */
        background-color: #333; /* Black background color */
        color: #fff; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 2px; /* Rounded borders */
        padding: 16px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        z-index: 1; /* Add a z-index if needed */
        left: 50%; /* Center the snackbar */
        bottom: 30px; /* 30px from the bottom */
    }

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
       However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    /* Animations to fade the snackbar in and out */
    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
</style>
<div id="status" style="display: none;"><%=registered%></div>
<div class="success" id="snackbar">Successfully registered</div>
<div class="events-container">
    <div class="title-section">
        <h1 class="overlay-section">EVENTS</h1>
        <h1 class="subtitle-section">Time to show up skills</h1>
    </div>
    <div class="events-navigation">
        <div class="e-layer-1">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="coding-icon" class="events-nav-item"
                 alt="Robotic" src="../img/projects/logo_coder.svg">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="electronic-icon" class="events-nav-item"
                 alt="Robotic" src="../img/projects/logo_robot.svg">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="adventure-icon" class="events-nav-item"
                 alt="Treasure" src="../img/projects/logo_treasure.svg">
        </div>
        <div class="e-layer-2">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="quiz-icon" class="events-nav-item"
                 alt="Ecell" src="../img/projects/logo_ecell.svg">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="workshop-icon" class="events-nav-item"
                 alt="Workshop" src="../img/projects/logo_workshop.svg">
        </div>
    </div>

    <div id="coding" class="events-section">
        <%

        var programming = [], electronics = [], nonTech = [], entrepreneurial = [], workshop = [];

        for(i=0;i<events.length;++i){
            if(events[i].type === 'Programming')
                programming.push(events[i]);
            else if(events[i].type === 'Electronics')
                electronics.push(events[i]);
            else if(events[i].type === 'Non-Tech')
                nonTech.push(events[i]);
            else if(events[i].type === 'Entrepreneurial')
                entrepreneurial.push(events[i]);
            else
                workshop.push(events[i]);
        }
        // console.log("PROGRAMMING:" + programming);

        %>
        <div class="events-heading">Programming</div>
        <div class="events">

            <%
            console.log("programming.length:" + programming.length)
            for(i=0;i<programming.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=programming[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=programming[i].name%></div>
                                <div class="event-desc">
                                    <%=programming[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn prog" id="<%=programming[i].id%>">View More</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events-more <%=programming[i].id%>">
                <div class="close-events-more">X</div>
                <div class="event-photo">
                    <img src="<%=programming[i].image.substr(8)%>">
                </div>
                <div class="event-text">
                    <div class="event-text-heading"><%=programming[i].name%></div>
                    <br>
                    <div class="event-text-text">
                        <div class="event-text-desc">
                            <%-programming[i].description%>
                        </div>
                        <br>
                        <div class="events-details">
                            <div class="details-div">
                                <div class="Venue" style="text-align: left"><span>Venue</span><pre><%=programming[i].venue%></pre></div>
                                <div class="Date" style="text-align: left"><span>Date</span><pre><%=programming[i].date%></pre></div>
                            </div>
                            <div class="details-div">
                                <div class="Time" style="text-align: left"><span>Time</span><pre><%=programming[i].time%></pre></div>
                                <div class="fb" style="text-align: left">
                                    <span>Facebook Page</span>
                                    <pre><a target="_blank" href="<%=programming[i].fbUrl%>"><i class="fab fa-facebook-f fa-lg"></i> acebook</a></pre>
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>

                        <div class="event-contact">
                            <div class="contact"><span>CONTACT</span> </div>
                            <div class="contact-div">
                                <%for(j=0;j<programming[i].organisersName.length;++j){%>
                                <pre><div><%=programming[i].organisersName[j]%></div><div><%=programming[i].organisersMobile[j]%></div></pre>
                                <%}%>
                            </div>
                        </div>
                        <br>
                        <%if(loggedIn){
                            if(loggedIn.events.includes(programming[i].id)){
                            %>
                            <div class="event-text-register">Already Registered</div>
                            <%}else if(loggedIn.name && loggedIn.phone && loggedIn.email && loggedIn.college && loggedIn.degree && loggedIn.year && loggedIn.branch){%>
                            <form action="/register/<%=programming[i].id%>" method="POST">
                                <input type="email" placeholder="Referrer's Email(If any)" name="referrer">
                                <button class="event-text-register">Register</button>
                            </form>
                            <%}else{%>
                            <a href="/user/profile"><div class="event-text-register">Complete profile to register</div></a>
                            <%}
                        }
                        else{%>
                            <div id="login" class="event-text-register">Sign In To Register</div>
                        <%}%>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
    <div id="electronic" class="events-section">
        <div class="events-heading">Electronics</div>
        <div class="events">

            <%
            console.log("electronics.length:" + electronics.length)
            for(i=0;i<electronics.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=electronics[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=electronics[i].name%></div>
                                <div class="event-desc">
                                    <%=electronics[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn elec" id="<%=electronics[i].id%>">View More</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="events-more <%=electronics[i].id%>">
                <div class="close-events-more">X</div>
                <div class="event-photo">
                    <img src="<%=electronics[i].image.substr(8)%>">
                </div>
                <div class="event-text">
                    <div class="event-text-heading"><%=electronics[i].name%></div>
                    <br>
                    <div class="event-text-text">
                        <div class="event-text-desc">
                            <%-electronics[i].description%>
                        </div>
                        <br>
                        <div class="events-details">
                            <div class="details-div">
                                <div class="Venue" style="text-align: left"><span>Venue</span><pre><%=electronics[i].venue%></pre></div>
                                <div class="Date" style="text-align: left"><span>Date</span><pre><%=electronics[i].date%></pre></div>
                            </div>
                            <div class="details-div">
                                <div class="Time" style="text-align: left"><span>Time</span><pre><%=electronics[i].time%></pre></div>
                                <div class="fb" style="text-align: left">
                                    <span>Facebook Page</span>
                                    <pre><a target="_blank" href="<%=electronics[i].fbUrl%>"><i class="fab fa-facebook-f fa-lg"></i> acebook</a></pre>
                                </div>
                            </div>
                            <br>

                        </div>
                        <br>
                        <div class="event-contact">
                            <div class="contact"><span>CONTACT</span> </div>
                            <div class="contact-div">
                                <%for(j=0;j<electronics[i].organisersName.length;++j){%>
                                <pre><div><%=electronics[i].organisersName[j]%></div><div><%=electronics[i].organisersMobile[j]%></div></pre>
                                <%}%>
                            </div>
                        </div>
                        <br>
                        <%if(loggedIn){
                        if(loggedIn.events.includes(electronics[i].id)){
                        %>
                            <div class="event-text-register">Already Registered</div>
                        <%}else if(loggedIn.name && loggedIn.phone && loggedIn.email && loggedIn.college && loggedIn.degree && loggedIn.year && loggedIn.branch){%>
                        <form action="/register/<%=electronics[i].id%>" method="POST">
                            <input type="email" placeholder="Referrer's Email(If any)" name="referrer">
                            <button class="event-text-register">Register</button>
                        </form>
                        <%}else{%>
                            <a href="/user/profile"><div class="event-text-register">Complete profile to register</div></a>
                        <%}
                        }
                        else{%>
                            <div id="login" class="event-text-register">Sign In To Register</div>
                        <%}%>
                    </div>
                </div>
            </div>
            <%}%>

        </div>
    </div>


    <div id="adventure" class="events-section">
        <div class="events-heading">Non-Technical</div>
        <div class="events">

            <%
            console.log("nonTech.length:" + nonTech.length)
            for(i=0;i<nonTech.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=nonTech[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=nonTech[i].name%></div>
                                <div class="event-desc">
                                    <%=nonTech[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn nont" id="<%=nonTech[i].id%>">View More</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="events-more <%=nonTech[i].id%>">
                <div class="close-events-more">X</div>
                <div class="event-photo">
                    <img src="<%=nonTech[i].image.substr(8)%>">
                </div>
                <div class="event-text">
                    <div class="event-text-heading"><%=nonTech[i].name%></div>
                    <br>
                    <div class="event-text-text">
                        <div class="event-text-desc">
                            <%-nonTech[i].description%>
                        </div>
                        <br>
                        <div class="events-details">
                            <div class="details-div">
                                <div class="Venue" style="text-align: left"><span>Venue</span><pre><%=nonTech[i].venue%></pre></div>
                                <div class="Date" style="text-align: left"><span>Date</span><pre><%=nonTech[i].date%></pre></div>
                            </div>
                            <div class="details-div">
                                <div class="Time" style="text-align: left"><span>Time</span><pre><%=nonTech[i].time%></pre></div>
                                <div class="fb" style="text-align: left">
                                    <span>Facebook Page</span>
                                    <pre><a target="_blank" href="<%=nonTech[i].fbUrl%>"><i class="fab fa-facebook-f fa-lg"></i> acebook</a></pre>
                                </div>
                            </div>
                            <br>

                        </div>
                        <br>
                        <div class="event-contact">
                            <div class="contact"><span>CONTACT</span> </div>
                            <div class="contact-div">
                                <%for(j=0;j<nonTech[i].organisersName.length;++j){%>
                                <pre><div><%=nonTech[i].organisersName[j]%></div><div><%=nonTech[i].organisersMobile[j]%></div></pre>
                                <%}%>
                            </div>
                        </div>
                        <br>
                        <%if(loggedIn){
                        if(loggedIn.events.includes(nonTech[i].id)){
                        %>
                            <div class="event-text-register">Already Registered</div>
                        <%}else if(loggedIn.name && loggedIn.phone && loggedIn.email && loggedIn.college && loggedIn.degree && loggedIn.year && loggedIn.branch){%>
                        <form action="/register/<%=nonTech[i].id%>" method="POST">
                            <input type="email" placeholder="Referrer's Email(If any)" name="referrer">
                            <button class="event-text-register">Register</button>
                        </form>
                        <%}else{%>
                            <a href="/user/profile"><div class="event-text-register">Complete profile to register</div></a>
                        <%}
                        }
                        else{%>
                            <div id="login" class="event-text-register">Sign In To Register</div>
                        <%}%>
                    </div>
                </div>
            </div>
            <%}%>


        </div>
    </div>


    <div id="quiz" class="events-section">
        <div class="events-heading">Entrepreneurial</div>
        <div class="events">

            <%
            console.log("entrepreneurial.length:" + entrepreneurial.length)
            for(i=0;i<entrepreneurial.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=entrepreneurial[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=entrepreneurial[i].name%></div>
                                <div class="event-desc">
                                    <%=entrepreneurial[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn ecel" id="<%=entrepreneurial[i].id%>">View More</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="events-more <%=entrepreneurial[i].id%>">
                <div class="close-events-more">X</div>
                <div class="event-photo">
                    <img src="<%=entrepreneurial[i].image.substr(8)%>">
                </div>
                <div class="event-text">
                    <div class="event-text-heading"><%=entrepreneurial[i].name%></div>
                    <br>
                    <div class="event-text-text">
                        <div class="event-text-desc">
                            <%-entrepreneurial[i].description%>
                        </div>
                        <br>
                        <div class="events-details">
                            <div class="details-div">
                                <div class="Venue" style="text-align: left"><span>Venue</span><pre><%=entrepreneurial[i].venue%></pre></div>
                                <div class="Date" style="text-align: left"><span>Date</span><pre><%=entrepreneurial[i].date%></pre></div>
                            </div>
                            <div class="details-div">
                                <div class="Time" style="text-align: left"><span>Time</span><pre><%=entrepreneurial[i].time%></pre></div>
                                <div class="fb" style="text-align: left">
                                    <span>Facebook Page</span>
                                    <pre><a target="_blank" href="<%=entrepreneurial[i].fbUrl%>"><i class="fab fa-facebook-f fa-lg"></i> acebook</a></pre>
                                </div>
                            </div>
                            <br>

                        </div>
                        <br>
                        <div class="event-contact">
                            <div class="contact"><span>CONTACT</span> </div>
                            <div class="contact-div">
                                <%for(j=0;j<entrepreneurial[i].organisersName.length;++j){%>
                                <pre><div><%=entrepreneurial[i].organisersName[j]%></div><div><%=entrepreneurial[i].organisersMobile[j]%></div></pre>
                                <%}%>
                            </div>
                        </div>
                        <br>
                        <%if(loggedIn){
                        if(loggedIn.events.includes(entrepreneurial[i].id)){
                        %>
                            <div class="event-text-register">Already Registered</div>
                        <%}else if(loggedIn.name && loggedIn.phone && loggedIn.email && loggedIn.college && loggedIn.degree && loggedIn.year && loggedIn.branch){%>
                        <form action="/register/<%=entrepreneurial[i].id%>" method="POST">
                            <input type="email" placeholder="Referrer's Email(If any)" name="referrer">
                            <button class="event-text-register">Register</button>
                        </form>
                        <%}else{%>
                            <a href="/user/profile"><div class="event-text-register">Complete profile to register</div></a>
                        <%}
                        }
                        else{%>
                            <div id="login" class="event-text-register">Sign In To Register</div>
                        <%}%>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
    <div id="workshop" class="events-section">
        <div class="events-heading">Workshops/Seminars</div>
        <div class="events">

            <%
            console.log("workshop.length:" + workshop.length)
            for(i=0;i<workshop.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=workshop[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=workshop[i].name%></div>
                                <div class="event-desc">
                                    <%=workshop[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn work" id="<%=workshop[i].id%>">View More</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="events-more <%=workshop[i].id%>">
                <div class="close-events-more">X</div>
                <div class="event-photo">
                    <img src="<%=workshop[i].image.substr(8)%>">
                </div>
                <div class="event-text">
                    <div class="event-text-heading"><%=workshop[i].name%></div>
                    <br>
                    <div class="event-text-text">
                        <div class="event-text-desc">
                            <%-workshop[i].description%>
                        </div>
                        <br>
                        <div class="events-details">
                            <div class="details-div">
                                <div class="Venue" style="text-align: left"><span>Venue</span><pre><%=workshop[i].venue%></pre></div>
                                <div class="Date" style="text-align: left"><span>Date</span><pre><%=workshop[i].date%></pre></div>
                            </div>
                            <div class="details-div">
                                <div class="Time" style="text-align: left"><span>Time</span><pre><%=workshop[i].time%></pre></div>
                                <div class="fb" style="text-align: left">
                                    <span>Facebook Page</span>
                                    <pre><a target="_blank" href="<%=workshop[i].fbUrl%>"><i class="fab fa-facebook-f fa-lg"></i> acebook</a></pre>
                                </div>
                            </div>
                            <br>

                        </div>
                        <br>
                        <div class="event-contact">
                            <div class="contact"><span>CONTACT</span> </div>
                            <div class="contact-div">
                                <%for(j=0;j<workshop[i].organisersName.length;++j){%>
                                <pre><div><%=workshop[i].organisersName[j]%></div><div><%=workshop[i].organisersMobile[j]%></div></pre>
                                <%}%>
                            </div>
                        </div>
                        <br>
                        <%if(loggedIn){
                        if(loggedIn.events.includes(workshop[i].id)){
                        %>
                            <div class="event-text-register">Already Registered</div>
                        <%}else if(loggedIn.name && loggedIn.phone && loggedIn.email && loggedIn.college && loggedIn.degree && loggedIn.year && loggedIn.branch){%>
                        <form action="/register/<%=workshop[i].id%>" method="POST">
                            <input type="email" placeholder="Referrer's Email(If any)" name="referrer">
                            <button class="event-text-register">Register</button>
                        </form>
                        <%}else{%>
                            <a href="/user/profile"><div class="event-text-register">Complete profile to register</div></a>
                        <%}
                        }
                        else{%>
                            <div id="login" class="event-text-register">Sign In To Register</div>
                        <%}%>
                    </div>
                </div>
            </div>
            <%}%>

        </div>
    </div>


</div>

<% include ../partials/footer %>
<% include ../partials/hamburger %>
<% include ../partials/move_to_top %>

<script>
    var eventOffset = 0;

    $(document).ready(function () {
        $(window).resize(function () {
            if ($(window).width() < 480) {
                eventOffset = 0;
            } else {
                eventOffset = 50;
            }
        });
    });

    if ($(window).width() < 768) {
        eventOffset = 0;
    }


    $("#electronic-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#electronic").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $("#coding-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#coding").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $("#workshop-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#workshop").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $("#adventure-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#adventure").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $("#quiz-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#quiz").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    var eventPos;
    // progEventTop = $('#coding .events .card').position().top;
    // progEventTop = $('')

    // $('#coding .events .card').css({display:'none'})

    $(".prog").click(function(e){
        var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?id=" + this.id;
        window.history.pushState({path:newurl},'',newurl);
        // window.location.replace(window.location.href.split('?')[0] + "?id=" + this.id);
        console.log("ID CLCIKED:" + this.id);
        var id = this.id;
        eventPos = $(e.target).offset().top - $('#coding .events .card').height() - $(e.target).height();
        console.log(eventPos);
        $('#coding .events .card').css({display:'none'}).promise().done(function(){
            $('#coding .events .' + id).css({display:'flex'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#coding").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $('#coding .events .events-more .close-events-more').click(function(){
        $('#coding .events .events-more').css({display:'none'}).promise().done(function(){
            $('#coding .events .card').css({display:'block'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: eventPos
        }, 800, 'easeOutExpo');
    });

    //

    $(".elec").click(function(e){
        var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?id=" + this.id;
        window.history.pushState({path:newurl},'',newurl);
        console.log("ID CLCIKED:" + this.id);
        var id = this.id;
        eventPos = $(e.target).offset().top - $('#electronic .events .card').height() - $(e.target).height();
        console.log(eventPos);
        $('#electronic .events .card').css({display:'none'}).promise().done(function(){
            $('#electronic .events .' + id).css({display:'flex'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#electronic").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $('#electronic .events .events-more .close-events-more').click(function(){
        $('#electronic .events .events-more').css({display:'none'}).promise().done(function(){
            $('#electronic .events .card').css({display:'block'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: eventPos
        }, 800, 'easeOutExpo');
    });

    //

    $(".nont").click(function(e){
        var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?id=" + this.id;
        window.history.pushState({path:newurl},'',newurl);
        console.log("ID CLCIKED:" + this.id);
        var id = this.id;
        eventPos = $(e.target).offset().top - $('#adventure .events .card').height() - $(e.target).height();
        console.log(eventPos);
        $('#adventure .events .card').css({display:'none'}).promise().done(function(){
            $('#adventure .events .' + id).css({display:'flex'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#adventure").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $('#adventure .events .events-more .close-events-more').click(function(){
        $('#adventure .events .events-more').css({display:'none'}).promise().done(function(){
            $('#adventure .events .card').css({display:'block'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: eventPos
        }, 800, 'easeOutExpo');
    });

    //

    $(".ecel").click(function(e){
        var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?id=" + this.id;
        window.history.pushState({path:newurl},'',newurl);
        console.log("ID CLCIKED:" + this.id);
        var id = this.id;
        eventPos = $(e.target).offset().top - $('#quiz .events .card').height() - $(e.target).height();
        console.log(eventPos);
        $('#quiz .events .card').css({display:'none'}).promise().done(function(){
            $('#quiz .events .' + id).css({display:'flex'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#quiz").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $('#quiz .events .events-more .close-events-more').click(function(){
        $('#quiz .events .events-more').css({display:'none'}).promise().done(function(){
            $('#quiz .events .card').css({display:'block'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: eventPos
        }, 800, 'easeOutExpo');
    });

    //

    $(".work").click(function(e){
        var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?id=" + this.id;
        window.history.pushState({path:newurl},'',newurl);
        console.log("ID CLCIKED:" + this.id);
        var id = this.id;
        eventPos = $(e.target).offset().top - $('#workshop .events .card').height() - $(e.target).height();
        console.log(eventPos);
        $('#workshop .events .card').css({display:'none'}).promise().done(function(){
            $('#workshop .events .' + id).css({display:'flex'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#workshop").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $('#workshop .events .events-more .close-events-more').click(function(){
        $('#workshop .events .events-more').css({display:'none'}).promise().done(function(){
            $('#workshop .events .card').css({display:'block'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: eventPos
        }, 800, 'easeOutExpo');
    });
</script>
<script>
    window.onload = function () {
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
        var modal = getUrlParameter('id');
        var url = window.location.href;
        if (url.indexOf('?id=') != -1) {
            $('#' + modal).trigger('click');
        }
    }
</script>
<script>
    function myFunction() {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar");

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }
    console.log($('#status').text());
    if($('#status').text() === 'success')
        myFunction();
</script>
</body>