<h1>Welcome user, <%=user.username%></h1>
<h3><%=user%></h3>
<h3>Stay tuned for more!</h3>

<h1>Welcome facebook user, <%=user.facebook.name%></h1>
<h3><%=user%></h3>
<h3>Stay tuned for more!</h3>

<h1>Welcome google user, <%=user.google.name%></h1>
<h3><%=user%></h3>
<h3>Stay tuned for more!