<% include ../partials/header-links.ejs %>
<% include ../partials/new-nav-bar %>


<div class="show-modal">
    <% include ../partials/login-modal %>
</div>


<div class="events-container">
    <div class="title-section">
        <h1 class="overlay-section">EVENTS</h1>
        <h1 class="subtitle-section">Time to show up skills</h1>
    </div>
    <div class="events-navigation">
        <div class="e-layer-1">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="coding-icon" class="events-nav-item"
                 alt="Robotic" src="../img/projects/logo_coder.svg">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="electronic-icon" class="events-nav-item"
                 alt="Robotic" src="../img/projects/logo_robot.svg">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="adventure-icon" class="events-nav-item"
                 alt="Treasure" src="../img/projects/logo_treasure.svg">
        </div>
        <div class="e-layer-2">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="quiz-icon" class="events-nav-item"
                 alt="Ecell" src="../img/projects/logo_ecell.svg">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="workshop-icon" class="events-nav-item"
                 alt="Workshop" src="../img/projects/logo_workshop.svg">
        </div>
    </div>

    <div id="coding" class="events-section">
        <%

        var programming = [], electronics = [], nonTech = [], entrepreneurial = [], workshop = [];

        for(i=0;i<events.length;++i){
            if(events[i].type === 'Programming')
                programming.push(events[i]);
            else if(events[i].type === 'Electronics')
                electronics.push(events[i]);
            else if(events[i].type === 'Non-Tech')
                nonTech.push(events[i]);
            else if(events[i].type === 'Entrepreneurial')
                entrepreneurial.push(events[i]);
            else
                workshop.push(events[i]);
        }

        console.log("PROGRAMMING:" + programming);

        %>
        <div class="events-heading">Programming</div>
        <div class="events">

            <%
            console.log("programming.length:" + programming.length)
            for(i=0;i<programming.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=programming[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=programming[i].name%></div>
                                <div class="event-desc">
                                    <%=programming[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn">Register</div>
                        </div>
                    </div>
                </div>
            </div>

            <%}%>
        </div>
    </div>
    <div id="electronic" class="events-section">
        <div class="events-heading">Electronics</div>
        <div class="events">

            <%
            console.log("electronics.length:" + electronics.length)
            for(i=0;i<electronics.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=electronics[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=electronics[i].name%></div>
                                <div class="event-desc">
                                    <%=electronics[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn">Register</div>
                        </div>
                    </div>
                </div>
            </div>

            <%}%>

        </div>
    </div>


    <div id="adventure" class="events-section">
        <div class="events-heading">Non-Technical</div>
        <div class="events">

            <%
            console.log("nonTech.length:" + nonTech.length)
            for(i=0;i<nonTech.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=nonTech[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=nonTech[i].name%></div>
                                <div class="event-desc">
                                    <%=nonTech[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn">Register</div>
                        </div>
                    </div>
                </div>
            </div>

            <%}%>

        </div>
    </div>


    <div id="quiz" class="events-section">
        <div class="events-heading">Entrepreneurial</div>
        <div class="events">

            <%
            console.log("entrepreneurial.length:" + entrepreneurial.length)
            for(i=0;i<entrepreneurial.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=entrepreneurial[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=entrepreneurial[i].name%></div>
                                <div class="event-desc">
                                    <%=entrepreneurial[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn">Register</div>
                        </div>
                    </div>
                </div>
            </div>

            <%}%>


        </div>
    </div>
    <div id="workshop" class="events-section">
        <div class="events-heading">Workshops/Seminars</div>
        <div class="events">

            <%
            console.log("workshop.length:" + workshop.length)
            for(i=0;i<workshop.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=workshop[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=workshop[i].name%></div>
                                <div class="event-desc">
                                    <%=workshop[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn">Register</div>
                        </div>
                    </div>
                </div>
            </div>

            <%}%>

        </div>
    </div>


</div>

<% include ../partials/footer %>
<% include ../partials/hamburger %>
<% include ../partials/move_to_top %>

<script>
    var eventOffset = 50;

    $(document).ready(function () {
        $(window).resize(function () {
            if ($(window).width() < 480) {
                eventOffset = 0;
            } else {
                eventOffset = 50;
            }
        });
    });

    if ($(window).width() < 768) {
        eventOffset = 0;
    }


    $("#electronic-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#electronic").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $("#coding-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#coding").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $("#workshop-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#workshop").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $("#adventure-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#adventure").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $("#quiz-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#quiz").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });
</script>

</body>