<% include ../partials/header-links.ejs %>
<% include ../partials/new-nav-bar %>

<% include ../partials/login-modal %>

<div class="events-container">
    <div class="title-section">
        <h1 class="overlay-section">EVENTS</h1>
        <h1 class="subtitle-section">Time to show up skills</h1>
    </div>
    <div class="events-navigation">
        <div class="e-layer-1">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="coding-icon" class="events-nav-item"
                 alt="Robotic" src="../img/projects/logo_coder.svg">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="electronic-icon" class="events-nav-item"
                 alt="Robotic" src="../img/projects/logo_robot.svg">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="adventure-icon" class="events-nav-item"
                 alt="Treasure" src="../img/projects/logo_treasure.svg">
        </div>
        <div class="e-layer-2">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="quiz-icon" class="events-nav-item"
                 alt="Ecell" src="../img/projects/logo_ecell.svg">
            <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="workshop-icon" class="events-nav-item"
                 alt="Workshop" src="../img/projects/logo_workshop.svg">
        </div>
    </div>

    <div id="coding" class="events-section">
        <%

        var programming = [], electronics = [], nonTech = [], entrepreneurial = [], workshop = [];

        for(i=0;i<events.length;++i){
            if(events[i].type === 'Programming')
                programming.push(events[i]);
            else if(events[i].type === 'Electronics')
                electronics.push(events[i]);
            else if(events[i].type === 'Non-Tech')
                nonTech.push(events[i]);
            else if(events[i].type === 'Entrepreneurial')
                entrepreneurial.push(events[i]);
            else
                workshop.push(events[i]);
        }

        console.log("PROGRAMMING:" + programming);

        %>
        <div class="events-heading">Programming</div>
        <div class="events">

            <%
            console.log("programming.length:" + programming.length)
            for(i=0;i<programming.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=programming[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=programming[i].name%></div>
                                <div class="event-desc">
                                    <%=programming[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn prog">View More</div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
            <div class="events-more">
                <div class="close-events-more">&gt;&gt;</div>
                <div class="event-photo">
                    <img src="/img/events/eventsImage-1539350458933.png"></img>
                </div>
                <div class="event-text">
                    <div class="event-text-heading">UHack</div>
                    <div class="event-text-text">
                        <div class="event-text-desc">
                            Hacking is building things that you always wanted to have but no one has built it yet. It's to come up with an amazing idea and work tirelessly on it. It is to fail, fail again and fail better. Try out new things and learn while doing that. It's to work together, collaborate and build things that are innovative. It is to be a better programmer. With that spirit, The University School of Information Communication & Technology in association with Ultrahack and Codestreet, is conducting a hackathon - UHack and invites all developers and hackathon enthusiasts to participate in an interesting and engaging hackathon.
                        </div>                    
                       <div class="events-details">
                           <div class="Venue">E-Block, USICT GGSIPU</div>
                           <div class="Date">26/10/17 to 27/10/17</div>
                           <div class="Time">1:00 PM to 12:00PM on 27 Oct</div>
                       </div>
                       <div class="event-contact">
                           <div class="event-contact-l1">
                                <div>ABC</div><div>9876543210</div>
                           </div>
                           <div class="event-contact-l1">
                                <div>ABC</div><div>9876543210</div>
                           </div>
                       </div>
                    </div>
                    <div class="event-text-register">Sign to reg.</div>
                </div>
            </div>
        </div>
    </div>
    <div id="electronic" class="events-section">
        <div class="events-heading">Electronics</div>
        <div class="events">

            <%
            console.log("electronics.length:" + electronics.length)
            for(i=0;i<electronics.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=programming[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=electronics[i].name%></div>
                                <div class="event-desc">
                                    <%=electronics[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn elec">View More</div>
                        </div>
                    </div>
                </div>
            </div>

            <%}%>
            <div class="events-more">
                <div class="close-events-more">&gt;&gt;</div>
                <div class="event-photo">
                    <img src="/img/events/eventsImage-1539350458933.png"></img>
                </div>
                <div class="event-text">
                    <div class="event-text-heading">UHack</div>
                    <div class="event-text-text">
                        <div class="event-text-desc">
                            Hacking is building things that you always wanted to have but no one has built it yet. It's to come up with an amazing idea and work tirelessly on it. It is to fail, fail again and fail better. Try out new things and learn while doing that. It's to work together, collaborate and build things that are innovative. It is to be a better programmer. With that spirit, The University School of Information Communication & Technology in association with Ultrahack and Codestreet, is conducting a hackathon - UHack and invites all developers and hackathon enthusiasts to participate in an interesting and engaging hackathon.
                        </div>                    
                       <div class="events-details">
                           <div class="Venue">E-Block, USICT GGSIPU</div>
                           <div class="Date">26/10/17 to 27/10/17</div>
                           <div class="Time">1:00 PM to 12:00PM on 27 Oct</div>
                       </div>
                       <div class="event-contact">
                           <div class="event-contact-l1">
                                <div>ABC</div><div>9876543210</div>
                           </div>
                           <div class="event-contact-l1">
                                <div>ABC</div><div>9876543210</div>
                           </div>
                       </div>
                    </div>
                    <div class="event-text-register">Sign to reg.</div>
                </div>
            </div>

        </div>
    </div>


    <div id="adventure" class="events-section">
        <div class="events-heading">Non-Technical</div>
        <div class="events">

            <%
            console.log("nonTech.length:" + nonTech.length)
            for(i=0;i<nonTech.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=programming[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=nonTech[i].name%></div>
                                <div class="event-desc">
                                    <%=nonTech[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn nont">View More</div>
                        </div>
                    </div>
                </div>
            </div>

            <%}%>

            <div class="events-more">
                <div class="close-events-more">&gt;&gt;</div>
                <div class="event-photo">
                    <img src="/img/events/eventsImage-1539350458933.png"></img>
                </div>
                <div class="event-text">
                    <div class="event-text-heading">UHack</div>
                    <div class="event-text-text">
                        <div class="event-text-desc">
                            Hacking is building things that you always wanted to have but no one has built it yet. It's to come up with an amazing idea and work tirelessly on it. It is to fail, fail again and fail better. Try out new things and learn while doing that. It's to work together, collaborate and build things that are innovative. It is to be a better programmer. With that spirit, The University School of Information Communication & Technology in association with Ultrahack and Codestreet, is conducting a hackathon - UHack and invites all developers and hackathon enthusiasts to participate in an interesting and engaging hackathon.
                        </div>                    
                       <div class="events-details">
                           <div class="Venue">E-Block, USICT GGSIPU</div>
                           <div class="Date">26/10/17 to 27/10/17</div>
                           <div class="Time">1:00 PM to 12:00PM on 27 Oct</div>
                       </div>
                       <div class="event-contact">
                           <div class="event-contact-l1">
                                <div>ABC</div><div>9876543210</div>
                           </div>
                           <div class="event-contact-l1">
                                <div>ABC</div><div>9876543210</div>
                           </div>
                       </div>
                    </div>
                    <div class="event-text-register">Sign to reg.</div>
                </div>
            </div>

        </div>
    </div>


    <div id="quiz" class="events-section">
        <div class="events-heading">Entrepreneurial</div>
        <div class="events">

            <%
            console.log("entrepreneurial.length:" + entrepreneurial.length)
            for(i=0;i<entrepreneurial.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=programming[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=entrepreneurial[i].name%></div>
                                <div class="event-desc">
                                    <%=entrepreneurial[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn ecel">View More</div>
                        </div>
                    </div>
                </div>
            </div>

            <%}%>

            <div class="events-more">
                <div class="close-events-more">&gt;&gt;</div>
                <div class="event-photo">
                    <img src="/img/events/eventsImage-1539350458933.png"></img>
                </div>
                <div class="event-text">
                    <div class="event-text-heading">UHack</div>
                    <div class="event-text-text">
                        <div class="event-text-desc">
                            Hacking is building things that you always wanted to have but no one has built it yet. It's to come up with an amazing idea and work tirelessly on it. It is to fail, fail again and fail better. Try out new things and learn while doing that. It's to work together, collaborate and build things that are innovative. It is to be a better programmer. With that spirit, The University School of Information Communication & Technology in association with Ultrahack and Codestreet, is conducting a hackathon - UHack and invites all developers and hackathon enthusiasts to participate in an interesting and engaging hackathon.
                        </div>                    
                       <div class="events-details">
                           <div class="Venue">E-Block, USICT GGSIPU</div>
                           <div class="Date">26/10/17 to 27/10/17</div>
                           <div class="Time">1:00 PM to 12:00PM on 27 Oct</div>
                       </div>
                       <div class="event-contact">
                           <div class="event-contact-l1">
                                <div>ABC</div><div>9876543210</div>
                           </div>
                           <div class="event-contact-l1">
                                <div>ABC</div><div>9876543210</div>
                           </div>
                       </div>
                    </div>
                    <div class="event-text-register">Sign to reg.</div>
                </div>
            </div>


        </div>
    </div>
    <div id="workshop" class="events-section">
        <div class="events-heading">Workshops/Seminars</div>
        <div class="events">

            <%
            console.log("workshop.length:" + workshop.length)
            for(i=0;i<workshop.length;++i){%>
            <div class="card">
                <div class="card-inner-wrapper">
                    <div class="pic-wrapper">
                        <div class="pic">
                            <img src="<%=programming[i].image.substr(8)%>">
                        </div>
                        <div class="pic-info">
                            <div class="event-info">
                                <div class="event-heading"><%=workshop[i].name%></div>
                                <div class="event-desc">
                                    <%=workshop[i].short%>
                                </div>
                            </div>
                            <div class="reg-btn work">View More</div>
                        </div>
                    </div>
                </div>
            </div>

            <%}%>

            <div class="events-more">
                <div class="close-events-more">&gt;&gt;</div>
                <div class="event-photo">
                    <img src="/img/events/eventsImage-1539350458933.png"></img>
                </div>
                <div class="event-text">
                    <div class="event-text-heading">UHack</div>
                    <div class="event-text-text">
                        <div class="event-text-desc">
                            Hacking is building things that you always wanted to have but no one has built it yet. It's to come up with an amazing idea and work tirelessly on it. It is to fail, fail again and fail better. Try out new things and learn while doing that. It's to work together, collaborate and build things that are innovative. It is to be a better programmer. With that spirit, The University School of Information Communication & Technology in association with Ultrahack and Codestreet, is conducting a hackathon - UHack and invites all developers and hackathon enthusiasts to participate in an interesting and engaging hackathon.
                        </div>                    
                       <div class="events-details">
                           <div class="Venue">E-Block, USICT GGSIPU</div>
                           <div class="Date">26/10/17 to 27/10/17</div>
                           <div class="Time">1:00 PM to 12:00PM on 27 Oct</div>
                       </div>
                       <div class="event-contact">
                           <div class="event-contact-l1">
                                <div>ABC</div><div>9876543210</div>
                           </div>
                           <div class="event-contact-l1">
                                <div>ABC</div><div>9876543210</div>
                           </div>
                       </div>
                    </div>
                    <div class="event-text-register">Sign to reg.</div>
                </div>
            </div>

        </div>
    </div>


</div>

<% include ../partials/footer %>
<% include ../partials/hamburger %>
<% include ../partials/move_to_top %>

<script>
    var eventOffset = 50;

    $(document).ready(function () {
        $(window).resize(function () {
            if ($(window).width() < 480) {
                eventOffset = 0;
            } else {
                eventOffset = 50;
            }
        });
    });

    if ($(window).width() < 768) {
        eventOffset = 0;
    }


    $("#electronic-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#electronic").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $("#coding-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#coding").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $("#workshop-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#workshop").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $("#adventure-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#adventure").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $("#quiz-icon").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#quiz").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    var eventPos;
    // progEventTop = $('#coding .events .card').position().top;
    // progEventTop = $('')

    // $('#coding .events .card').css({display:'none'})

    $(".prog").click(function(e){
        eventPos = $(e.target).offset().top - $('#coding .events .card').height() - $(e.target).height();
        console.log(eventPos);
        $('#coding .events .card').css({display:'none'}).promise().done(function(){
            $('#coding .events .events-more').css({display:'flex'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#coding").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $('#coding .events .events-more .close-events-more').click(function(){
        $('#coding .events .events-more').css({display:'none'}).promise().done(function(){
            $('#coding .events .card').css({display:'block'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: eventPos
        }, 800, 'easeOutExpo');
    });

    // 

    $(".elec").click(function(e){
        eventPos = $(e.target).offset().top - $('#electronic .events .card').height() - $(e.target).height();
        console.log(eventPos);
        $('#electronic .events .card').css({display:'none'}).promise().done(function(){
            $('#electronic .events .events-more').css({display:'flex'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#electronic").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $('#electronic .events .events-more .close-events-more').click(function(){
        $('#electronic .events .events-more').css({display:'none'}).promise().done(function(){
            $('#electronic .events .card').css({display:'block'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: eventPos
        }, 800, 'easeOutExpo');
    });

    // 

    $(".nont").click(function(e){
        eventPos = $(e.target).offset().top - $('#adventure .events .card').height() - $(e.target).height();
        console.log(eventPos);
        $('#adventure .events .card').css({display:'none'}).promise().done(function(){
            $('#adventure .events .events-more').css({display:'flex'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#adventure").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $('#adventure .events .events-more .close-events-more').click(function(){
        $('#adventure .events .events-more').css({display:'none'}).promise().done(function(){
            $('#adventure .events .card').css({display:'block'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: eventPos
        }, 800, 'easeOutExpo');
    });

    // 

    $(".ecel").click(function(e){
        eventPos = $(e.target).offset().top - $('#quiz .events .card').height() - $(e.target).height();
        console.log(eventPos);
        $('#quiz .events .card').css({display:'none'}).promise().done(function(){
            $('#quiz .events .events-more').css({display:'flex'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#quiz").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $('#quiz .events .events-more .close-events-more').click(function(){
        $('#quiz .events .events-more').css({display:'none'}).promise().done(function(){
            $('#quiz .events .card').css({display:'block'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: eventPos
        }, 800, 'easeOutExpo');
    });

    // 

    $(".work").click(function(e){
        eventPos = $(e.target).offset().top - $('#workshop .events .card').height() - $(e.target).height();
        console.log(eventPos);
        $('#workshop .events .card').css({display:'none'}).promise().done(function(){
            $('#workshop .events .events-more').css({display:'flex'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#workshop").offset().top - eventOffset
        }, 800, 'easeOutExpo');
    });

    $('#workshop .events .events-more .close-events-more').click(function(){
        $('#workshop .events .events-more').css({display:'none'}).promise().done(function(){
            $('#workshop .events .card').css({display:'block'});
        });
        $([document.documentElement, document.body]).animate({
            scrollTop: eventPos
        }, 800, 'easeOutExpo');
    });
</script>

</body>